DB_NAME=leaf_disease_db
DB_USER=postgres
DB_PASSWORD=nhap_mat_khau_postgres_tren_may_ban_vao_day
DB_HOST=localhost
DB_PORT=5432
TERMS_VERSION=1.0

# Tạo key mới: python -c "from django.core.management.utils import get_random_secret_key as g; print(g())"
DJANGO_SECRET_KEY=nhap_secret_key_vao_day
DJANGO_DEBUG=True
# Phân tách bằng dấu phẩy
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
